@import url("https://fonts.googleapis.com/css?family=Anton|Lato");

body {
    margin-right: auto;
    margin-left: auto;
    width: 88%;
    height: auto;
    font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Anton', sans-serif;
}
